.information{
	margin-bottom: 6px;
}
.information div{
	display:inline-block;
}
.information-label{
	font-weight: bold;
}
.dropdown-menu{
	/*max-height: 300px !important;*/
}

.api-widget div{
	display: inline-block;
}

.info-box{
	height:100px;
}
.info-box .icon i {
	line-height: 100px;
}

section.content-nosidebar{
	margin: 0px 15px 0 315px;
}